<div style="text-align: center">
  <h1 style="margin-bottom: 50px">Angel List scrapper</h1>
  <img src="../assets/angel-icon.svg" alt="" style="width: 60px;">
  <h2>Select filters</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="dropdowns-container">
          <label for="typeahead-basic">Type of url</label>
          <input placeholder="https://angel.co/companies?company_types[]=Startup&locations[]=1971-Ukraine" id="typeahead-basic" type="text" class="form-control" />
        </div>
      </div>
    </div>
  </div>
</div>
